<div class="example-container h-screen w-fit ml-[57px] ">
    <div
      class="rounded shadow-sm text-white"
    >
      <ul >
        <li>
          <h1 class="text-2xl font-bold ml-1 mb-4" style="letter-spacing: 0.3em;">Menu</h1>
        </li>
        <li class="mb-2">
          <div class="flex items-center space-x-2">
            <img src="assets/Icon.png" alt="Ícone" class="h-12 w-12" />
            <p
              routerLink="/editorDeCodigo"
              class="text-lg hover:text-blue-400 items ml-1"
            >Editor de Código</p>
          </div>
        </li>
        <li>
          <div class="flex items-center space-x-2">
            <img src="assets/Icon2.png" alt="Ícone" class="h-12 w-12" />
            <p
              routerLink="/comunidade"
              class="text-lg hover:text-blue-400 items ml-1"
            >Comunidade</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  